<div fxFlex="grow" class="repository-details-container" *ngIf="item">
  <div
    fxLayout="row"
    fxLayoutAlign="left center"
    class="owner-container"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="flex-start"
  >
    <div fxFlex="0 1 60%" fxLayoutAlign="left center">
      <img *ngIf="item.owner.avatar_url" src="{{ item.owner.avatar_url }}" class="owner-avatar" fxFlex="auto" />
      <span class="mat-body-strong" fxFlex="0 1 60%">{{ item.name }}</span>
    </div>
    <a
      href="{{ item.html_url }}"
      class="result-html mat-body"
      target="_blank"
      fxFlex="0 1 40%"
      fxLayoutAlign="flex-end"
      fxLayoutAlign.lt-md="flex-start"
      >{{ item.html_url }}</a
    >
  </div>
  <div fxLayoutAlign="left" fxLayout="column">
    <div>
      <span class="mat-caption">Owner: </span><span class="mat-body details-owner">{{ item.owner.login }}</span>
    </div>
    <div>
      <span class="mat-caption">Description: </span
      ><span class="mat-body details-description">{{ item.description }}</span>
    </div>
    <div>
      <span class="mat-caption">Updated: </span
      ><span class="mat-body details-updated">{{ item.updated_at | date: 'medium' }}</span>
    </div>
    <div>
      <span class="mat-caption" *ngIf="item.language">Language: </span><span class="mat-body">{{ item.language }}</span>
    </div>
  </div>
  <div fxLayoutAlign="flex-end">
    <mat-icon
      class="result-data"
      matBadge="{{ item.forks_count }}"
      matBadgeColor="accent"
      matTooltip="Forks count: {{ item.forks_count }}"
      matBadgeSize="small"
      >share</mat-icon
    >
    <mat-icon
      class="result-data"
      matBadge="{{ item.watchers_count }}"
      matBadgeColor="accent"
      matTooltip="Watchers count: {{ item.watchers_count }}"
      matBadgeSize="small"
      >tag_faces</mat-icon
    >
    <mat-icon
      class="result-data"
      matBadge="{{ item.stargazers_count }}"
      matBadgeColor="accent"
      matTooltip="Stargazers count: {{ item.stargazers_count }}"
      matBadgeSize="small"
      >star</mat-icon
    >
    <mat-icon
      class="result-data"
      matBadge="{{ item.open_issues_count }}"
      matBadgeColor="accent"
      matTooltip="Open issues count: {{ item.open_issues_count }}"
      matBadgeSize="small"
      >bug_report</mat-icon
    >
  </div>
</div>
