<div fxFlex="grow" class="issues-container">
  <ng-container *ngIf="issuesContent?.total_count; else noResult">
    <span class="mat-title">Latest 5 issue</span>
    <mat-list dense>
      <mat-list-item *ngFor="let item of issuesContent.items | slice: 0:5">
        <mat-icon matListIcon>bug_report</mat-icon>
        <p mat-line fxLayoutAlign="space-between">
          <a href="{{ item.html_url }}" class="issues-html" target="_blank">
            <span class="mat-body-strong issue-title">Title: {{ item.title }}</span></a
          >
          <span class="issue-date">{{ item.updated_at | date: 'medium' }}</span>
        </p>
        <p mat-line>
          <span class="issue-state">State: {{ item.state }}</span>
          <span *ngIf="item.closed_at"> at {{ item.closed_at | date: 'medium' }}</span>
        </p>
        <p mat-line>
          <span mat-line class="issue-comments">Comments: {{ item.comments }}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <ng-template #noResult>
    <span class="mat-subheading-1">No result...</span>
  </ng-template>
</div>
